body{
  background-image: url("../../assets/img/Hero.png");
  background-size: auto;
}

.back{
  background-image: url("../../assets/img/Hero.png");
  background-size: auto;
  width: 1920px;
  height: 833px;
}

.hero-info{
  color: white;
  text-align: left;
  padding: 100px;
}