*{
  margin: 0px;
  padding: 0px;
}

.back{
  background-repeat: no-repeat;
  background-image: url("../../assets/img/Hero.png");
  background-size: cover  ;

}

.content{
  padding-top: 209px;
  padding-left: 218px;
}

.info{
  display: flex;
  align-items: center;
  column-gap: 9px;
  padding-bottom: 7px;
}
.info p{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
}