
.last_pading{
  padding-bottom: 207px;
}

.back{
  background-repeat: no-repeat;
  background-image: url("../../assets/img/Hero.png");
  background-size: cover;

}

.content{
  padding-top: 209px;
  padding-left: 218px;
}

.info{
  display: flex;
  align-items: center;
  column-gap: 9px;
  padding-bottom: 7px;
}

.ps{
  width: 508px;
  vertical-align: bottom;
  padding-top: 24px;
  padding-bottom: 52px;
}

.searcher{
  background: white;
  border-radius: 61px;
  width: 919px;
  height: 88px;
  align-items: center;
  display: flex;
  align-items: center;
}

.searcher_container{
  padding: 20px 16px 20px 40px;
  display: flex;
  column-gap: 24px;

}

.searcher_elem h4{
  color: #BA7894;
  font-size: 18px;
  display: block;
  padding-bottom: 14px;
}

.searcher_elem Button{
  background-color: #BA7894;
}

.searcher_elem_content{
  display: flex;
  width: 307px;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--dark, #141414);
}


.searcher_button_content{
  font-size: 24px;
  border: none;
  width: 200px;
  height: 66px;
  border-radius: 56px;
  background-color: #BA7894;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 23px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
}