.app_blue_theme {
  --bg-color: #446278;
  --inverted-bg-color: #c9e6ff;
  --primary-color: #77f8e0;
  --secondary-color: #cde8e0;
  --inverted-primary-color:#006b5d ;
  --inverted-secondary-color: #4a635d;

  // skeleton

  --skeleton-color: #cde8e0;
  --skeleton-shadow: #006b5d;

  // code

  --code-bg: #cde8e0;
}
