.app_dark_theme {
    --bg-color: oklch(41.29% 0.12 351.89deg);
    --inverted-bg-color: oklch(91.89% 0.0469 354.4528deg);
    --primary-color: oklch(83.97% 0.1016 353.1deg);
    --secondary-color: #e1bdca;
    --inverted-primary-color: #96416a;
    --inverted-secondary-color: #735761;
}
