.app.dark {
    --bg-color: #792952;
    --inverted-bg-color: #ffd8e6;

    --primary-color: #ffafd0;
    --secondary-color: #e1bdca;
    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}
