:root {
    --bg-color: #ffd8e6;
    --inverted-bg-color: #792952;

    --primary-color: #96416a;
    --secondary-color: #735761;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
