:root {
    --bg-color: #ffd8e6;
    --inverted-bg-color: #792952;
    --primary-color: #96416a;
    --secondary-color: #735761;
    --inverted-primary-color: #ffafd0;
    --inverted-secondary-color: #e1bdca;

    // skeleton

    --skeleton-color: white;
    --skeleton-shadow: rgba(0, 0, 0, 0.49);

    // code

    --code-bg: white;
}
