.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1920px;
  height: 1085px;
  gap: 56px;
  padding: 64px 0;
  background: linear-gradient(171deg, #FDFDFD 0%, #F0F0F0 100%);
}

.heading{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 11px 120px;
  gap: 2px;
}

.heading text{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: Manrope;
  color: #BA7894;
  font-style: normal;
  font-weight: 600;
}

.heading h3{
  font-size: 45px;
  color: #141414;
  font-family: Playfair Display;
}

.testimonials_background{
  background-color: #422A3C;
  width: 1682px;
  height: 688px;
  padding:96px 0;
  border-radius: 40px;
}

.testimonials_container{
  display: flex;
  width: 1280px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.content_user{
  padding-left: 32px;
  height: 496px;
  display: flex;
  gap: 14px;
  flex: 1 0 0;
}
.content_user img{
  width: 280px;
  height: 280px;
  position: absolute;
  margin: 128px 177px 88px 179px;
}

.quote_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  width: 576px;
}

.quote_content{
  color:white;
  display: flex;
  height: 339px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.quote_container h4{
  padding-bottom: 12px;
  font-size: 36px;
  width:601px
}

.quote_container p{
  color: #EDFFF0;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  letter-spacing: -0.4px;
}

.quote_small{
  font-size: 16px;
}

.quote_large{
  font-size: 19px;
}

.left_mark{
  margin: -20px 554px 0.45px -23px;
}

.right_mark{
  margin: -20px -22px 0.45px 553px;
}

.content_rectangle1{
  position: absolute;
  margin:14px 423px 254px 83px;
  background-color: white;
  width: 70px;
  height: 228px;
  border-radius: 104px;
}

.content_rectangle2{
  position: absolute;
  margin:14px 339px 39px 167px;
  background-color: white;
  width: 70px;
  height: 443px;
  border-radius: 104px;
}


.content_nav{
  display: flex;
  align-items: center;
  gap: 15px;
}

.content_nav_last{
  border-radius: 120px;
  background: #FFF;
  padding: 10px;
}

.content_nav_next{
  border-radius: 120px;
  background-color: #422A3C;
  padding: 10px;
}
