.ProfileCard {
  padding: 15px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.data {
  margin-top: 20px;
}

.btn {
  margin-left: auto;
}

.input {
  margin-top: 10px;
}