.ProfileCard {
  padding: 15px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
  color: var(--inverted-bg-color);
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.editing {
  border: 2px solid var(--primary-color);
}